:root {
  --brand-color: #ff6c00;
  --dark-color: #303030;
  --white: #fff;
  --gray-color: rgba(157, 164, 189, 0.6);
  --text-font: "Open Sans", sans-serif;
  --header-font: "Raleway", sans-serif;
  --paragraph-color: #555;
}
/* ---------------------------------Global Styles--------------------------------- */
body {
  font-family: var(--text-font);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

.social-media-link {
  color: var(--dark-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.social-media-link:hover,
.social-media-link:focus {
  color: var(--brand-color);
}
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.hero-content {
  /* TODO: replace with image background */
  background-color: var(--dark-color);
  color: var(--white);
}

.nav-link {
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.address-phone-number {
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.address-phone-number:hover,
.address-phone-number:focus {
  color: var(--brand-color);
}

.book-service-button {
  background: none;
  border-color: var(--brand-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
}
.book-service-button-white {
  color: var(--white);
}
.book-service-button-dark {
  color: var(--dark-color);
}

.book-service-button:hover,
.book-service-button:focus {
  color: var(--brand-color);
}
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.subtitle {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.subtitle-dark {
  color: var(--dark-color);
}
.subtitle-gray {
  color: var(--gray-color);
}
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.hero-header {
  font-family: var(--header-font);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}

.header {
  font-family: var(--header-font);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}
.header-dark {
  color: var(--dark-color);
}
.header-white {
  color: var(--white);
}
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.hero-control-buttons {
  background: none;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  cursor: pointer;
}
.hero-control-buttons-gray {
  color: var(--gray-color);
}
.hero-control-buttons-white {
  color: var(--white);
}
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.about-paragraph-one {
  color: var(--paragraph-color);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}
.about-paragraph-two {
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: 26px; /* 185.714% */
  letter-spacing: 0.28px;
}
