:root {
  --brand-color: #ff6c00;
}

.social-media-link {
  color: #303030;
}

.social-media-link:hover {
  color: var(--brand-color);
}

.hero-content {
  /* TODO: replace with image background */
  background-color: #303030;
  color: #fff;
}

.nav-about {
  color: var(--brand-color);
}

.nav-link {
  color: #fff;
}

.address-phone-number {
  color: #fff;
}

.book-service-button {
  background: none;
  color: #fff;
  border-color: var(--brand-color);
}
